In [15]:
import pandas as pd

In [16]:
sales_suco = pd.read_csv('../data/sales_suco.csv', index_col='DATE',parse_dates=True)

In [17]:
sales_suco.head()

            COUNT
DATE
2023-01-01      0
2023-01-02     79
2023-01-03     71
2023-01-04     80
2023-01-05    118

In [18]:
sales_suco.describe()

            COUNT
count  365.000000
mean    99.430137
std     55.493428
min      0.000000
25%     75.000000
50%     96.000000
75%    128.000000
max    395.000000

In [19]:
sales_suco.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 365 entries, 2023-01-01 to 2023-12-31
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   COUNT   365 non-null    int64
dtypes: int64(1)
memory usage: 5.7 KB