In [1]:
import pandas as pd
import numpy as np

In [ ]:
sales_suco = pd.read_csv('../data/sales_suco_cleaned.csv', parse_dates=True)

In [ ]:
sales_suco['vendas'] = sales_suco['COUNT'].shift(-1)
sales_suco.rename(columns={'DATE': 'data', 'COUNT':'vendas_ontem'}, inplace=True)
sales_suco.set_index('data', inplace=True)

            vendas_ontem  vendas
data
2023-01-01             0    79.0
2023-01-02            79    71.0
2023-01-03            71    80.0
2023-01-04            80   118.0
2023-01-05           118   132.0
...                  ...     ...
2023-12-27           133   138.0
2023-12-28           138   128.0
2023-12-29           128   127.0
2023-12-30           127   122.0
2023-12-31           122     NaN

[356 rows x 2 columns]

In [24]:
sales_suco.dropna(inplace=True)

In [26]:
sales_suco.to_pickle('../data/sales_suco_transformed.pkl')